.content{
    max-width: 1440px;
    margin: 32px auto 36px auto;

    .content_container{
        padding: 0 116px;
    }
}

@media (max-width: 1000px) {
    .content{
        max-width: 1440px;
        margin: 0 auto;
    
        .content_container{
            padding: 0 20px;
        }
    }
}


@media (max-width: 700px) {
    .content{
        max-width: 1440px;
        margin: 0 auto;
    
        .content_container{
            padding: 0 10px;
        }
    }
}